# {{ ansible_managed }}

{% for disk in disks.hdds.ids %}
/dev/disk/by-id/{{ disk }} {
    apm = {{ disks.hdds.apm }}
    acoustic_management = {{ disks.hdds.acoustic_management }}
    spindown_time = {{ disks.hdds.spindown_time }}
    write_cache = {{ disks.hdds.write_cache }}
}

{% endfor %}
